<!DOCTYPE html>
<html lang="en">
  <%-include("layouts/header");%>

  <body>
    <!-- Navigation -->
    <%-include("layouts/navbar");%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>New User</h1>
              <span class="subheading">Welcome to the site!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form
            action="/user/login"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Username</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  name="username"
                />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                />
              </div>
            </div>
            <br />
            <div id="success"></div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>

    <hr />

    <%-include("layouts/footer");%> <%-include("layouts/scripts");%>
  </body>
</html>
